<div class='result'>
    <h1>The time zone {{timezone}} has {{offsetDiff}} minutes offset to UTC.</h1>
    <h1>February in this year has {{dayOfFebrary}} days.</h1>
    <h1>Specified month ({{month}}) has {{dayOfMonth}} days.</h1>
</div>